*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    padding: 0 20px;
}
.container{
    /* border: 2px solid black; */
    max-width: 500px;
    width: 100%;
    background-color: white;
    /* margin: 20px auto; */
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
}
.container .title{
font-size: 24px;
font-weight: 700;
margin-bottom: 25px;
text-align: center;
color: lightskyblue;
text-transform: uppercase;
}
.container .form{
width: 100%;
}
.container .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
 .container .form .input_field label{
    width: 150px;
    font-size: 14px;
 }
 .container .form .input_field input,
 .container .form .input_field .textarea{
width: 100%;
border: 1px solid lightblue;
font-size: 15px;
padding: 8px 10px ;
border-radius: 3px ;
transition: all 0.5s ease;
}
.container .form .input_field .textarea{
    resize: none;
}
#name8{
    position: relative;
    width: 100%;
    height: 35px;
    border: 1px solid lightblue;
    appearance: none;
   outline: none;

}
.container .form .input_field #name8::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid black;
    border-color:lightblue transparent transparent transparent;

}
.container .form .input_field p{
    font-size: 14px;
    color: #757575;
}
.chechmark{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
   
}
.container .form .input_field .btn{
outline: none;
background-color: lightblue;
color: white;
}
.container .form .input_field:last-child{
    margin-bottom: 0;
}
.container .form .input_field .btn:hover{
    background-color: lightskyblue;
}
 @media (max-width:420px){
   .container  .form  .input_field{
    flex-direction: column;
    align-items: flex-start;
   }
   .container .form .input_field label{
    margin-bottom: 5px;
   }
   .container .form .input_field.terms{
    flex-direction: row;
   }
}